# Ignore everything
*

# But don't ignore these directories and their contents
/CalenderCommit/
/CalenderCommit/*
!/dist/
!/dist/*
!dist/templates/
!dist/templates/*
!dist/templates/assets/*
!cpanel.yml
!.cpanel.yml
!.gitignore
.gitmodules
!test.txt
.git